/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #add8e6;
    z-index: 1000;
}
body {
    padding-top: 100px;
    font-family: 'Jura';
    line-height: 1.6;
    color: #333;
}
.bar {
    height: auto;
    min-height: 60px;
    background-color: #BDECFF;
    color: #000;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.logo h1 {
    font-size: 30px;
    margin: 0; 
    margin-left: 10%;
}
nav{
    margin-left: 3%;
}

/* Adjust the spacing between navigation items */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 2px;
}


nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: lighter;

    
}

nav ul li a:hover {
    background-color: #6db1c7;
}

/* Section Styles */
section {
    padding: 100px 20px;
    height: 100vh;
    display: flex;
    
}

#section1 {
    background-color: #ffff;
}

#section2 {
    background-color: #fff;
    height: auto;
    display: flex;
}
#section2 h1 {
    font-size: 30px;

    
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.project-info h2 {
    font-size: 18px;
    font-weight: bold;
}

.project-info p {
    font-size: 14px;
    line-height: 1.5;
    margin-right: 20px;
}

.project-image {
    width: 200px;
    height: auto;
}

.abstract {
    background-color: #6db1c7;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.abstract h2 {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.abstract p {
    font-size: 18px;
    color: #fff;
}

.equipment {
    text-align: center;
    margin-bottom: 20px;
}

.equipment h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.equipment-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.equipment-image {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.equipment p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

#section3 {
    background-color: #4e82c4;
}

#section4 {
    background-color: #ffff;
    height: auto;
    display: flex;

}
.imgposter{
    margin-left: 320px;
}


#section5 {
    background-color:#4e82c4;

    
}


/* Profile Image Styles */
.profile-image {
    width: 400px; /* Adjust the size as per your requirement */
    height: 400px;
    border-radius: 10px;
    margin-bottom: none;
    display: block; /* Ensures the image acts like a block element */
    margin-left: 320px;
    
    
}

.sect5{
    margin-top: 18px;
    margin-left: 250px;
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 30px;
    font-family: 'Comic Sans MS';
}

/* Github Button Styles */
.github-button {
    background-color: #ffffff;
    color: black;
    font-family: 'Comic Sans MS';
    font-size: 1.8rem;
    padding: 22px 68px;
    margin-left: 900px;
    margin-top: -400px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
}

#section5 a{
    text-decoration: none;
}


.github-button:hover {
    background-color: #6db1c7;
    color: white;
}


#section6 {
    background-color: #ffffff;
}

.sect6{
    margin-top: 18px;
    margin-left: 250px;
    font-size: 45px;
    color: #000000;
    margin-bottom: none;
    font-family: 'Comic Sans MS';
}

.video{
    width: 800px; 
    height: 800px;
    display: block; 
    margin-top: -100px;
    margin-left: 320px;
}

#section7 {
    background-color: #4e82c4;
    padding: 50px 20px;
    text-align: center;

}

.content7{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-direction: column;
}

#section7 h1 {
    display: flex;
    margin-top: 40px;
    margin-left: 240px;
    margin-bottom: 40px;
    font-size: 45px;
    color: #ffffff;
    margin-bottom: none;
    font-family: 'Comic Sans MS';
}

.member-grid {
   display: flex;
    justify-content: center;
    align-content: center;
}

.member {

    width: 500px;
    height: 500px;
   
    text-align: center;
    color: white;
}

.member-image {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: #d9d9d9;
    margin-bottom: 10px;
    border-radius: 5px;
}

.member p {
    font-size: 16px;
    line-height: 1.5;
}

.content {
    max-width: 600px;
}



p {
    font-size: 18px;
}


/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        margin-right: 0;
    }
    
    nav ul li {
        margin: 10px 0;
    }
}